In [1]:
import pandas as pd

In [2]:
import numpy as np
import matplotlib.pyplot as plt

In [3]:
weather = pd.read_csv("weather-random.csv")

In [4]:
weather.head(5)

,Random,Date,Cloud coverage,Visibility,Temperature,Dew point,Relative humidity,Wind speed,Station pressure,Altimeter,Solar energy,(Inverters)
0,0.831284,5/30/2017,0.31,9.96,19.77,7.51,45.51,10.91,27.20,29.99,35074.0,NaN
1,0.605385,7/26/2017,0.27,9.41,24.57,21.81,83.62,5.09,29.26,30.05,28983.0,NaN
2,0.622957,6/5/2016,0.35,10.00,20.79,15.21,68.98,11.61,28.96,29.75,28213.0,NaN
3,0.828596,1/19/2017,0.70,3.63,4.34,4.01,95.85,8.08,29.09,29.88,3127.0,NaN
4,0.416856,5/5/2017,0.12,10.00,10.78,5.44,70.45,15.34,28.98,29.77,39832.0,NaN

In [5]:
weather.drop(["(Inverters)","Random","Date"], axis = 1, inplace = True)

In [6]:
weather.shape

(637, 9)

In [7]:
weather.dtypes

Cloud coverage       float64
Visibility           float64
Temperature          float64
Dew point            float64
Relative humidity    float64
Wind speed           float64
Station pressure     float64
Altimeter            float64
Solar energy         float64
dtype: object

In [8]:
weather.head(7)

,Cloud coverage,Visibility,Temperature,Dew point,Relative humidity,Wind speed,Station pressure,Altimeter,Solar energy
0,0.31,9.96,19.77,7.51,45.51,10.91,27.20,29.99,35074.0
1,0.27,9.41,24.57,21.81,83.62,5.09,29.26,30.05,28983.0
2,0.35,10.00,20.79,15.21,68.98,11.61,28.96,29.75,28213.0
3,0.70,3.63,4.34,4.01,95.85,8.08,29.09,29.88,3127.0
4,0.12,10.00,10.78,5.44,70.45,15.34,28.98,29.77,39832.0
5,0.49,9.98,22.87,17.66,69.39,2.89,29.10,29.89,29671.0
6,0.16,10.00,21.68,16.35,67.06,6.52,29.23,30.03,30312.0

In [9]:
#Getting the variables to an array.
CloudCoverage = weather['Cloud coverage'].values
Visibility = weather['Visibility'].values
Temperature = weather['Temperature'].values
DewPoint= weather['Dew point'].values
RelativeHumidity= weather['Relative humidity'].values
WindSpeed= weather['Wind speed'].values
StationPressure= weather['Station pressure'].values
Altimeter= weather['Altimeter'].values
SolarEnergy= weather['Solar energy'].values

In [10]:
weather.columns

Index(['Cloud coverage', 'Visibility', 'Temperature', 'Dew point',
       'Relative humidity', 'Wind speed', 'Station pressure', 'Altimeter',
       'Solar energy'],
      dtype='object')

In [11]:
X = np.array([CloudCoverage,Visibility,Temperature,DewPoint,RelativeHumidity,WindSpeed,StationPressure,Altimeter])
    
Y = np.array([SolarEnergy])

In [12]:
# Model Intialization
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
reg = LinearRegression()

In [13]:
X.shape

(8, 637)

In [14]:
Y.shape

(1, 637)

In [15]:
X = X.transpose()

In [16]:
X.shape

(637, 8)

In [17]:
Y = Y.transpose()

In [18]:
# train and test data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [19]:
# Data Fitting
reg = reg.fit(X_train,y_train)

In [20]:
# Y Prediction
Y_pred = reg.predict(X_test)

In [21]:
# Model Evaluation
rmse = np.sqrt(mean_squared_error(y_test, Y_pred))
r2 = reg.score(X, Y)

In [22]:
print(rmse)
print(r2)

6925.291264420367
0.6271321864990275

In [23]:
from sklearn.externals import joblib

/home/anna/anaconda3/lib/python3.7/site-packages/sklearn/externals/joblib/__init__.py:15: DeprecationWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=DeprecationWarning)

In [24]:
joblib.dump(reg, 'reg.pkl')

['reg.pkl']

In [25]:
X_new= weather.loc[:, weather.columns != 'Solar energy']

In [26]:
X_new.columns

Index(['Cloud coverage', 'Visibility', 'Temperature', 'Dew point',
       'Relative humidity', 'Wind speed', 'Station pressure', 'Altimeter'],
      dtype='object')

In [27]:
# Saving the data columns from training
model_columns = list(X_new.columns)
joblib.dump(model_columns, 'model_reg.pkl')
print("Models columns dumped!")

Models columns dumped!

In [28]:
# The coefficients
print('Coefficients: \n', reg.coef_)

Coefficients:
 [[-1.62936318e+04 -7.82481725e+00  8.35472760e+02 -5.86366831e+02
  -1.34934314e+02 -3.14690229e+01  1.11260074e+03  9.53721728e+02]]